.gauchenoir {
  background-color: red;
  min-height: 200px; }

.gris {
  background-color: #6f00d9;
  height: 150px; }

.main ul li {
  grid-area: li;
  align-self: center;
  justify-content: center; }

.main ul button {
  grid-area: btn; }

.vide {
  background-color: #00fc83;
  height: 200px; }

.first {
  grid-area: first;
  background-color: purple;
  height: 200px; }

.second {
  grid-area: second;
  background-color: red;
  height: 200px; }

.third {
  grid-area: third;
  background-color: green;
  height: 150px; }

.full3 {
  display: grid;
  grid-template-areas: "first second" "third third";
  grid-gap: 5px 5px; }

#b .g {
  grid-area: first;
  background-color: purple;
  height: 150px; }

#b .h {
  grid-area: second;
  background-color: red;
  height: 150px; }

#b .i {
  grid-area: third;
  background-color: green;
  height: 150px; }

#b .j {
  grid-area: fourth;
  background-color: yellow;
  height: 150px; }

#b .k {
  grid-area: fifth;
  background-color: black;
  height: 150px; }

#b {
  margin-top: 50px;
  display: grid;
  grid-template-areas: "first second" "third fourth" "fifth ....."; }

#photomende h2 {
  grid-area: h2; }

.p1 {
  grid-area: p1; }

.p2 {
  grid-area: p2; }

.p3 {
  grid-area: p3; }

.p4 {
  grid-area: p4; }

.p5 {
  grid-area: p5; }

.p6 {
  grid-area: p6; }

.p7 {
  grid-area: p7; }

.p8 {
  grid-area: p8; }

#zoom {
  background-color: #6260d0;
  height: 315px; }

#photomende {
  justify-items: center;
  display: grid;
  grid-template-areas: "h2 h2 h2 h2" "p1 p2 p3 p4" "p5 p6 p7 p8";
  grid-gap: 1px 1px; }

.l {
  background-color: #488700; }

.m {
  background-color: red; }

.n {
  background-color: #488700; }

.o {
  background-color: #6238e9; }

.plus {
  justify-items: center;
  display: grid;
  grid-template-areas: "l m" "n o";
  grid-gap: 3px 3px; }

.news {
  height: 100px;
  background-color: pink; }

footer {
  display: grid;
  grid-template-areas: "hotel" "particip" "mairie" "faire" "vivre"; }

.hotel {
  grid-area: hotel;
  background-color: purple;
  height: 150px; }

.particip {
  grid-area: particip;
  background-color: red;
  height: 150px; }

.mairie {
  grid-area: mairie;
  background-color: purple;
  height: 150px; }

.faire {
  grid-area: faire;
  background-color: red;
  height: 150px; }

.vivre {
  grid-area: vivre;
  background-color: purple;
  height: 150px;
  margin-bottom: 50px; }

.contact {
  background-color: purple;
  height: 150px; }

.plan {
  background-color: red;
  height: 150px; }

.mentions {
  background-color: purple;
  height: 150px; }

.rss {
  background-color: red;
  height: 150px; }

.presse {
  background-color: purple;
  height: 150px; }

.faq {
  background-color: red;
  height: 150px; }

.credit {
  background-color: purple;
  height: 150px;
  margin-bottom: 50px; }

@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; }
    header .gris {
      display: grid;
      grid-column: 1/2; }
    header .main {
      grid-column: 2/7; }
      header .main ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto; }
        header .main ul .menu1 {
          grid-column: 1/2; }
        header .main ul .menu2 {
          grid-column: 2/3; }
        header .main ul .menu3 {
          grid-column: 3/4; }
        header .main ul .menu4 {
          grid-column: 4/5; }
        header .main ul button {
          grid-column: 5/6; }

  body {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0;
    padding: 0; }

  .gauchenoir {
    height: 1000px;
    grid-column: 1 / 2; }

  .container {
    display: grid;
    grid-column: 2 / 7; }

  .a {
    display: grid;
    grid-template-areas: "vide full3" "loisirs culture"; }
    .a .vide {
      grid-area: vide; }
    .a .full3 {
      grid-area: full3; }
    .a .loisirs {
      grid-area: loisirs;
      min-height: 150px;
      background-color: orange; }
    .a .culture {
      grid-area: culture;
      min-height: 150px;
      background-color: black; }

  #b {
    margin-top: 50px;
    display: grid;
    grid-template-areas: "first second third fourth fifth"; }

  .galery {
    display: grid;
    grid-template-areas: "zoom photomende"; }
    .galery #zoom {
      grid-area: zoom; }
    .galery #photomende {
      grid-area: photomende; }

  .plus {
    display: grid;
    grid-template-areas: "l m n o"; }

  .news {
    display: inline-grid; }

  footer {
    display: grid;
    grid-template-areas: "hotel particip mairie faire vivre" "nav nav nav nav nav"; }
    footer nav {
      grid-area: nav; }
    footer ul {
      display: grid;
      grid-template-columns: repeat(7, 1fr); } }

/*# sourceMappingURL=master.css.map */
