.gauchenoir {
    background-color:rgb(65, 65, 65);
    height: 50px;
}
.barsup {
    background-color: black ;
    height: 150px;
}
.gris {
    background-color: rgb(180, 180, 180);
    height: 50px;
}
.barinf {
    background-color: rgb(71, 71, 71);
    height: 50px;
}
li:nth-child(odd){
    background-color: rgb(61, 61, 61);
    height: 50px;
    color:white;
}

.main article{
    background-color:rgb(65, 65, 65);
    height: 50px;
}
.vide{
    background-color: yellow;
    height:200px;

}
.first{
    background-color: purple;
    height:200px;
}
.second{
    background-color: red;
    height:200px;
}
.third{
    background-color: green;
    height: 150px;
}
.fourth{
    background-color: rgb(63, 102, 176);
    height: 150px;
}
.fifth{
    background-color: rgb(255, 170, 4);
    height: 150px;
}
