@import "debug";
body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
}

.main ul li {
    grid-area:li;
    display: inline-grid;
    width: 18%;
    align-self: center;
    justify-content: center;


}
.main ul button {
    grid-area:btn;
    width:18%;
}
ul {
    grid-template-areas:
    "li li li li btn";
}

.full3{
    display:grid;
    grid-template-areas:
    "first second"
    "third third"

}
 .full3.first{
    grid-area: first;

}
 .full3.second{
    grid-area: second;


}
.full3.third{
    grid-area: third;
}

// -main b-----------------------------------------------

// main .b{
//      display:grid;
//
//
// }
//  .b.first{
//     grid-area: first;
//
// }
// .b.second{
//    grid-area: second;
//
// }
// .b.third{
//    grid-area: third;
//
// }
// .b.fourth{
//    grid-area: fourth;
//
// }
// .b.fifth{
//    grid-area: fifth;
//
// }
