@import "debug";
body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
}

.main ul li {
    grid-area:li;
    display: inline-grid;
    width: 18%;
    align-self: center;
    justify-content: center;


}
.main ul button {
    grid-area:btn;
    width:18%;
}
ul {
    grid-template-areas:
    "li li li li btn";
}

.full3{
    grid-template-areas:
    "first second";
}
.first{
    grid-area: first;
    width:49%;
    display: inline-grid;


}
.second{
    grid-area: second;
    width:49%;
    display: inline-grid;

}
.third{
    grid-area: third;
}
